.AnimeQuote {
	color: white;
	border: 2px solid;
	border-radius: 15px;
	border-color: rgb(251, 70, 130);
	font-size: 24px;
	margin-bottom: 20px;
}

.AnimeFact {
	color: rgb(255, 255, 255);
	border: 2px solid;
	border-color: rgb(251, 70, 130);
	border-radius: 15px;
	font-size: 24px;
}

.animeTitle {
	color: rgb(251, 70, 130);
}

.App {
	margin: 0 auto;
	max-width: 1080px;
	padding: 0 25px;
	text-align: center;
}

Body {
	background: rgb(24, 24, 24);
}

.comps {
	margin: 20px;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: rgb(206, 206, 206);
}

.quote {
	font-style: italic;
}

.title {
	color: rgb(251, 70, 130);
	font-size: 24px;
	font-family: monospace;
}

.Navigation {
	display: flex;
	flex-direction: row;
}

.Navigation a {
	color: white;
	padding: 10px;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	font-family: basic-sans, sans-serif;
	margin: auto;
}

.Navigation a:hover {
	border-bottom: 2px solid rgb(251, 70, 130);
	color: rgb(255, 253, 253);
}

.Navigation a:visited {
	border-bottom: 2px solid rgb(251, 70, 130);
	color: rgb(255, 253, 253);
}

.factinfo {
	color: rgb(251, 70, 130);
}
.fact {
	font-style: italic;
}
